<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ssr</title>
    <link rel="icon" href="/statics/ico/favicon.ico" />
    <link rel="stylesheet" href="/statics/lib/normalize.css" />
    <link rel="stylesheet" href="/statics/lib/init.css" />
    <link rel="stylesheet" href="/statics/lib/rem.js" />
    <style></style>
  </head>
  <body>
    <div id="root"></div>
    <script></script>
  </body>
</html>
