.banner_wrap {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .slick_item {
    height: 100vh;

    .slick_item_inner {
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }
}

.content_wrap {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 9;
  justify-content: center;
  align-items: center;

  .content_inner {
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    // &::after {
    //   content: "|";
    //   animation: blink 1s infinite;
    // }
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:global {
  .home_banner_wrap {
    .slick-arrow {
      display: none !important;
    }
  }
}
